
.pageBody
{
	width: 100%;
}








#websiteList label
{
	font-size: 30px;
}


#websiteList a
{
	font-size: 30px;
	width : 200px;
}


#selectSection
{
	
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	font-size: 30px;
	width:200px;
	height: 80px;
	vertical-align: middle;
	margin-bottom : 20px;
}




.deleteToWebsiteList
{
	padding:4px;
	padding-left: 20px;
	padding-right: 20px;
	font-size:30px;
}


#websiteList input
{
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	background-color: #4285f4;
	font-size:30px;
	color: white;
	height: 80px;
	width: 90%;
	margin: 40px 0px 15px 0px;
	cursor:pointer;
}


#websiteList ul {
   
    height: 800px;
  
}